<h1> Productos </h1>
{{#each productos}}
<div>
    <h2>{{title}}</h2>
    <p> {{_id}} </p>
    <p>{{description}}</p>
    <p>Price: ${{price}}</p>
    <p>Category: {{category}} </p>
    <button> Agregar al Carrito </button>
</div>
{{/each}}


{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}} 
{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}

<p>Pagina {{currentPage}} de {{totalPages}} </p>